{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "overrides": [
    {
      "files": ["*.js", "*.spec.tsx", "*.spec.ts"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "react/react-in-jsx-scope": "off"
      }
    }
  ],
  "env": {
    "node": true,
    "browser": true,
    "amd": true
  },
  "rules": {
    "indent": ["error", 2, {"SwitchCase": 1}],
    "quotes": ["error", "double"],
    "array-bracket-spacing": ["error", "always"],
    "object-curly-spacing": ["error", "always"],
    "react/jsx-curly-brace-presence": ["error", {"props": "always", "children": "always"}],
    "react/prop-types": 0,
    "react/display-name": 0
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ]
}
