{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ],
  "env": {
    "node": true,
    "browser": true,
    "amd": true
  },
  "rules": {
    "indent": [ "error", 2, { "SwitchCase": 1 }],
    "quotes": [ "error", "double" ],
    "array-bracket-spacing": [ "error", "never" ],
    "object-curly-spacing": [ "error", "always" ]
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}
